body, html {
    --bgColor: hsl(36, 21%, 92%);
    --fgColor: hsl(36, 29%, 20%);
    --accentColor: hsl(47deg 52% 55%);

    margin: 0;
    font-family: gitan-latin, sans-serif;
    background: var(--bgColor);
    color: var(--fgColor);
    font-size: 1.4vmax;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

h2, h1, dt {
    font-family: chennai-slab, serif;
    font-weight: lighter;
}

h2, h1, a {
    color: var(--accentColor);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 3em;
}

h1 {
    font-size: 4em;
    line-height: 1.2em;
}

dt {
    font-size: 2em;
}

ul {
    margin: .2em 0 0 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
}

li a {
    border-radius: 2em;
    background: var(--accentColor);
    color: var(--bgColor);
    display: flex;
    padding: .4em .8em;
    font-family: chennai-slab, serif;
    font-weight: 600;
}

main section:nth-of-type(odd) {
    color: var(--bgColor);
    background: var(--fgColor);
}

article, footer section {
    margin: auto;
    max-width: 800px;
    padding: 50px;
}

footer {
    background: hsl(36, 29%, 15%);
    color: var(--bgColor);
    text-align: center;
}


iframe {
    width: 100%;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}