body, html {
    margin: 0;
    font-family: gitan-latin, sans-serif;
    background: hsl(36, 21%, 92%);
    color: hsl(36, 29%, 20%);
    font-size: 1.4vmax;
}

* {
    box-sizing: border-box;
}

h2, dt {
    font-family: chennai-slab, serif;
    font-weight: lighter;
}

h2 {
    font-size: 3em;
}

dt {
    font-size: 2em;
}

main {
    padding: 50px;
    max-width: 500px;
    margin: auto;
}

iframe {
    width: 100%;
}